bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.dbmdl
*.log
*.pdb
*.cache
*.config
*.TestResults/
*.ncrunch*
*.localhistory/
*.idea/
*.vscode/
Dockerfile*
docker-compose*
node_modules/
wwwroot/
secrets.json
*.swp
*.DS_Store
Thumbs.db